@import './branding';
@import './bootstrap';




.header {
  background-color: $brand-color-black;
  color: $brand-color-medium;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  height: 88px;



  .header__dropdown {
    background-color: $brand-color-black;
    width: 100%;
    z-index: 500;
  }

  .navigation {

    opacity: 1;

    background-color: $brand-color-black !important;
    padding: 0;

    .navbar-toggler {
      position: relative;
    }
  
    .navbar-brand {
      padding: 0;
  
      h1 {
        margin: 0;
      }
    }
  }
}

.main {
  // background-color: $brand-color-black;
  margin-top: 100px;
  position: relative;
  min-height: 100vh;
}
