// fonts
$brand-font-primary: "Bebas Neue";
$brand-font-secondary: "Urbanist";

//colors
$brand-color-primary: #E85C41;
$brand-color-secondary: #E8D7B9;

$brand-color-black: #1C1C1C;
$brand-color-grey: #B8B8B8;
$brand-color-dark: #525252;


$brand-color-medium: #E0E0E0;
$brand-color-light: #EBEBEB;
$brand-color-white: #F5F5F5;

.content__background {
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(28, 28, 28, 1), rgba(28, 28, 28, 0.6));
}

.content__container {
  position: relative;
  z-index: 10;
}

.content {
  padding: 24px 0;
  position: relative;

  &__primary {
    background-image: url(/images/brand/patterns_01_tile.png);
  }

  &--theme-dark {
    color: $brand-color-white;

    .font-dark {
      color: $brand-color-medium;
    }

    .font-medium {
      color: $brand-color-light;
    }

    .font-light {
      color: $brand-color-white;
    }

    h1 {
      border-bottom: 1px solid $brand-color-dark;
      }

    h1, h2 {
      padding-bottom: 5px;
      margin-bottom: 20px;
    }

    h3,
    h4,
    h5,
    p {
      color: $brand-color-light;
    }
  }

  &--theme-light {
    background-color: $brand-color-light;
    color: $brand-color-dark;

    .font-dark {
      color: $brand-color-black;
    }

    .font-medium {
      color: $brand-color-dark;
    }

    .font-light {
      color: $brand-color-grey;
    }

    h2 {
      padding-bottom: 5px;
      border-bottom: 1px solid $brand-color-grey;
      margin-bottom: 20px;
    }
  }
}

.search-focus {
  background: url(/images/brand/icon-search.svg) no-repeat left;
  border: 1px solid transparent;
  outline: none;

  background-position: 5px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all .5s;

  &::placeholder {
    color: $brand-color-light;
  }
}

.search-focus:focus {
  border: 1px solid $brand-color-dark;
  width: 200px;
  padding-left: 50px;
  color: $brand-color-white;
}
