@import '../app/styles/branding';

.playable {
  &__button {
    position: absolute;
    align-self: center;

    span {
      width: 60px;
      height: 60px;
      background-color: $brand-color-dark;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid $brand-color-white;
      position: relative;
    }

    button {
      top: 10px;
      position: absolute;
      left:18px;
      background-color: transparent;
      border-style: solid;
      border-width: 16px 0px 16px 26px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 1);
      box-sizing: border-box;
    }

    &:hover {
      cursor: pointer;
  
      button {
        border-color: transparent transparent transparent $brand-color-primary;
      }
    }
  }
}