@import '../../styles/branding.scss';

.tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {

    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid $brand-color-dark;
    border-top: 1px solid $brand-color-dark;

    >button {
      cursor: pointer;

      &:hover {
        // background-color: $brand-color-medium;

        .tabsDetail {
          color: $brand-color-light;
        }

        .tabsTitle {
          color: $brand-color-medium;
        }
      }

      border: 0;
      width: 100%;
      text-align: left;
      padding: 5px 0;

      .tabsDetail {
        color: $brand-color-grey;
      }

      .tabsTitle {
        color: $brand-color-grey;
      }

      background-color: $brand-color-black;
    }


    .tabsDetail {
      display: block;
      font-size: 1em;
    }
  }
}

.tabs[data-tabs-active=true] {
  .tabDeselected {
    flex-grow: unset;
  }

  .tabSelected {
    .tabsDetail {
      color: $brand-color-medium;
    }

    .tabsTitle {
      color: $brand-color-primary;
    }

    // background-color: $brand-color-dark;
  }
}