@import '../../styles/branding';
@import '../../styles/bootstrap';

.tags {
  list-style-type: none;
  padding: 0;

  li {
    cursor: pointer;
    display: inline;
    text-transform: capitalize;

    a {
      font-size: 0.6rem;
      margin-right: 0;
      color: inherit;
      border-color: inherit;

      &:hover {
        border-color:$brand-color-primary;
        color:$brand-color-primary;
      }
    }
  }
}
