@import './styles/branding';
@import './styles/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  color: $brand-color-dark;
  background-color: $brand-color-white;
}

h1 {
  @include font-size(2.4rem);
}

h2 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

h3 {
  @include font-size(2.4rem);

  span {
    @include font-size(1.4rem);
  }
}
